/*general changes*/
html, body{
    background-color: #e74d3c;
    width:100%;
    margin:0;
}

.topSection{
    border-bottom: 3px solid;
    border-bottom-color: lightgray;
    padding-bottom: 16px;
}

.row{
    margin-bottom: 32px;
}
/*end general changes*/