/*helper classes for quick editing*/
.red{
    color:#e74d3c;
}

.white{
    color:white;
}

.pacif{
    font-family: 'Pacifico', cursive;
}

.lato{
    font-family: 'Lato', sans-serif;
}

.black{
    color:#333333;
}

.hugeText{
    font-size: 16vw;
}

.bigGiantHanai{
    margin-top: 16px;
}
/*end helper classes*/

/*general changes*/
html, body{
    background-color: #e74d3c;
    width:100%;
    margin:0;
}

.topSection{
    border-bottom: 2px solid;
    border-bottom-color: lightgray;
    padding-bottom: 32px;
}
/*end general changes*/


/*Navigation*/
.navbar-default{
    background-color: #e74d3c;
    background-image:none;
    border:none;
    box-shadow: none;
}

.navbar-fixed-top .nav {
    padding: 0;
}

.navbar-default .navbar-nav>li>a{
    font-family: 'Lato', sans-serif;
    font-weight:900;
    font-size: 18px;
    color:white;
    padding:12px 0 0 0;
    padding-left:32px;
    letter-spacing: 1px;
}
/*end navigation*/

/*social media links*/
.social-media-links{
    margin-top: 32px;
}

.social-media-links ul li{
    margin-left:16px;
    margin-right:16px;
}

/*end social media links*/

/*subscription box*/
.mc-form{
    margin-top: 32px;
}

.subslurbBox{
    margin-right: 8px;
    border: 3px solid white;
    padding: 29px 0 29px 16px;
    font-size: 24px;
    color: #e74d3c;
}

.subslurbBox:focus{
    margin-right: 8px;
    border: 3px solid white;
    padding: 29px 0 29px 16px;
    font-size: 24px;
    background-color: #e74d3c;
    color:white;
    outline:none;
}

.subslurbButton{
    color: #e74d3c;
    padding: 13px;
    font-size:24px;
    border: 3px solid white;
}


.subslurbButton:hover{
    color: white;
    background-color: #e74d3c;
    border: 3px solid white;
}

/*end subscription box*/


/* about section */

.aboutSection{
    background-color: white;
    padding-top: 64px;
}

.aboutSection .row{
    margin-bottom:72px;
}

h2{
    font-family: 'Lato', sans-serif;
    font-weight:900;
    font-size: 48px;
}

/* end about section */